@font-face {
  font-family: 'lato-regular';
  src: url("../fonts/Lato/Lato-regular/lato-regular.eot");
  src: url("../fonts/Lato/Lato-regular/lato-regular.eot?#iefix") format("embedded-opentype"),
	   url("../fonts/Lato/Lato-regular/lato-regular.woff2") format("woff2"),
	   url("../fonts/Lato/Lato-regular/lato-regular.woff") format("woff"),
	   url("../fonts/Lato/Lato-regular/lato-regular.ttf") format("truetype"),
	   url("../fonts/Lato/Lato-regular/lato-regular.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/Lato/Lato-bold/lato-bold.eot");
  src: url("../fonts/Lato/Lato-bold/lato-bold.eot?#iefix") format("embedded-opentype"),
	   url("../fonts/Lato/Lato-bold/lato-bold.woff2") format("woff2"),
	   url("../fonts/Lato/Lato-bold/lato-bold.woff") format("woff"),
	   url("../fonts/Lato/Lato-bold/lato-bold.ttf") format("truetype"),
	   url("../fonts/Lato/Lato-bold/lato-bold.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'lato-light';
  src: url("../fonts/Lato/Lato-light/lato-light.eot");
  src: url("../fonts/Lato/Lato-light/lato-light.eot?#iefix") format("embedded-opentype"),
	   url("../fonts/Lato/Lato-light/lato-light.woff2") format("woff2"),
	   url("../fonts/Lato/Lato-light/lato-light.woff") format("woff"),
	   url("../fonts/Lato/Lato-light/lato-light.ttf") format("truetype"),
	   url("../fonts/Lato/Lato-light/lato-light.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }

// Core variables and mixins
@import "bootstrap/variables";

@import "components/vars";

 @import "bootstrap/mixins";
 @import "bootstrap/normalize";
 @import "bootstrap/grid";
 // @import "bootstrap/responsive-utilities";
 //@import "bootstrap/utilities";


@import "components/body";



a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
// .gmnoprint div {
//     background:none !important;
// }


@import "components/header";

.btn{
	display: inline-block;
	color: #fff;
	background: #6CC644;
	border: 2px solid #6CC644;
	transition:all 0.3s ease;
	    padding: 1px 25px 5px 25px;
	text-decoration: none!important;
	border-radius: 19px;
	&:hover{
		border: 2px solid #BBEE2A;
	}
	&:active{
		background: #BBEE2A;
		border: 2px solid #BBEE2A;
		color: #2C6D4D;
	}
}

.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1220px;
	padding: 0;
	position: relative;
	width: 100%;
}


.page-content{
	display: table-cell;
	height: 100%;
	padding-bottom: 45px;
	padding-top: 40px;
}






.workarea{
	line-height: 1.4;
	h1{
		margin: 0;
		margin-bottom: 30px;
		font-weight: normal;
		font-size: 64px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h2{
		margin: 0;
		margin-bottom: 30px;
		font-weight: normal;
		font-size: 56px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h3{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 48px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h4{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 36px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h5{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 30px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h6{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 24px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	p{
		margin: 0;
		margin-bottom: 24px;
	}
	strong{
		font-weight: normal;
		font-family: 'lato-bold';
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #222;
		border: 2px solid #ECEBE9;
		background: #F5F6F5;
		transition:background 0.3s ease;
		padding: 15px 24px;
		border-radius: 3px;
		&:focus{
			background: #fff; 
		}
	}
	textarea{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #222;
		border: 2px solid #ECEBE9;
		background: #F5F6F5;
		border-radius: 3px;
		transition:background 0.3s ease;
		padding: 15px 24px;
		resize:vertical;
		min-height: 102px;
		&:focus{
			background: #fff; 
		}
	}
	blockquote{
		color: #2C6D4D;
		font-size: 30px;
		padding: 15px 0;
		margin: 0;
		margin-bottom: 27px;
		padding-left: 30px;
		border-left: 1px solid #ECEBE9;
		line-height: 1.17;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			width: 36px;
			height: 40px;
			display: inline-block;
			position: absolute;
			    top: 20px;
    		left: -29px;
			background: #fff url(../img/svg/quote_sign.svg) center no-repeat;
			background-size: 36px 33px;
		}
	}
	small{
		font-size: 14px;
	}
	ol{
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		counter-reset: list_1;
		li{
			list-style-type: none;
			padding-left: 39px;
			position: relative;
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				counter-increment: list_1;
			    content: counters(list_1, ".")".";
			    position: absolute;
			    left: -1px;
				top: 0px;
			    font-size: 16px;
			    text-align: center;
			    background: #BBEE2A;
			    border-radius: 50%;
			    width: 32px;
			    height: 32px;
			    font-size: 20px;
			        padding: 1px 1px 0 5px;
			}
		}
		ol{
			margin: 0;
			margin-bottom: -12px;
			padding: 15px 0 0;
			counter-reset: list_2;
			li{
				list-style-type: none;
				padding-left: 38px;
				position: relative;
				margin-bottom: 14px;
				font-size: 18px;
				line-height: 1.3;
				&:last-child{
					margin-bottom: 0;
				}
				&:before{
					counter-increment: list_2;
				    content: counter(list_1) "." counter(list_2) ". ";
					position: absolute;
					    left: 2px;
					background: transparent;
					border-radius: 0;
				    font-size: 18px;
				    padding: 0;
				    width: auto;
				    height: auto;
				}
			}
			
		}
	}
	ul{
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		li{
			list-style-type: none;
			padding-left: 39px;
			position: relative;
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				content: "";
				display: inline-block;
			    position: absolute;
			    left: -2px;
				top: 12px;
				width: 32px;
				height: 4px;
				background: $default-color;
			}
			ul{
				margin: 0;
				padding: 0;
				padding-top: 14px;
				    margin-bottom: -2px;
				li{
					list-style-type: none;
					padding-left: 20px;
					position: relative;
					margin-bottom: 11px;
					font-size: 18px;
					&:last-child{
						margin-bottom: 0;
					}
					&:before{
						content: "";
						display: inline-block;
					    position: absolute;
					    left: -1px;
    					top: 8px;
						width: 9px;
						height: 9px;
						background: $default-color;
						border-radius: 50%;
					}
				}
			}
		}
	}
	table{
		width: 100%;
		table-layout: fixed;
		margin-bottom: 40px;
		tr{
			&:hover{
				td{
					border-bottom: 2px solid $default-color;
				}
			}
		}
		th{
			font-weight: normal;
			background: #F5F6F5;
			    padding: 17px 10px;
			text-align: left;
			&:first-child{
				padding-left: 24px;
			}
		}
		td{
			padding: 17px 10px;
			border-bottom: 2px solid #F5F6F5;
			transition: all 0.3s ease;
			&:first-child{
				padding-left: 24px;
			}
		}
	}

	input[type="radio"]:not(:checked),
	input[type="radio"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="radio"]:not(:checked) + label,
	input[type="radio"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 32px;
		line-height: 24px;
		display: inline-block;
		font-size: 16px;
	}

	input[type="radio"]:not(:checked) + label:before,
	input[type="radio"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 24px;
		height: 24px;
			border: 2px solid #ECEBE9;
		background: #F5F6F5;
		border-radius: 50%;
		cursor: pointer;
		z-index: 5;
	}
	input[type="radio"]:not(:checked) + label:after,
	input[type="radio"]:checked + label:after {
		content: '';
		background: #0B1F16;
		width: 10px;
		height: 10px;
		display: inline-block;
		/* border: 1px solid #00a6e4; */
		position: absolute;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		top: 7px;
		left: 7px;
		z-index: 10;
	}
	input[type="radio"]:not(:checked) + label:after {
	  opacity: 0;
	}
	input[type="radio"]:checked + label:after {
	  opacity: 1;
	}
	input[type="radio"]:checked + label:before{
		border: 2px solid #BBEE2A;
		background: #BBEE2A;
	}



	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 32px;
		line-height: 19px;
		display: inline-block;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0px;
		top: -3px;
		height: 24px;
		width: 24px;
		border: 2px solid #ECEBE9;
		border-radius: 3px;
		background-color: #F5F6F5;
		cursor: pointer;
		z-index: 5;
	}
	input[type="checkbox"]:checked+ label:before{
		background: #BBEE2A;
		border: 2px solid #BBEE2A;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url('../img/svg/check.svg') center no-repeat;
		width: 26px;
		height: 19px;
		display: inline-block;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	 	opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	    opacity: 1;
	}
	textarea,input{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	input[type="submit"]{
		padding: 0;
		border: 0;
		display: inline-block;
		&.btn-submit{
			background-color: #6CC644;
			font-size: 24px;
			color: #fff;
			padding: 7px 28px;
			transition: all 0.3s ease;
			&:active{
				background-color: #BBEE2A;
				color: #2C6D4D;
			}
		}
	}
}

.btn-submit{
	background-color: #6CC644;
	font-size: 24px;
	color: #fff;
	padding: 8px 28px;
	transition: all 0.3s ease;
	position: relative;
	border: 0;
	text-decoration: none!important;
	&:active{
		background-color: #BBEE2A;
		color: #2C6D4D;
		&:before{
			border: 1px solid #2C6D4D;
		}
	}
	&:before{
		content: "";
		display: inline-block;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border: 1px solid #BBEE2A;
		position: absolute;
		top: 3px;
		left: 3px;
		//pointer-events:none;
		transition: all 0.3s ease;
	}
	&:hover{
		&:before{
			border: 3px solid #BBEE2A;
		}
		&:active{
			background-color: #BBEE2A;
			color: #2C6D4D;
			&:before{
				border: 1px solid #2C6D4D;
			}
		}
	}
}

.input-wrap-submit{
	display: inline-block;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border: 1px solid #BBEE2A;
		position: absolute;
		top: 3px;
		left: 3px;
		pointer-events:none;
		transition: all 0.3s ease;
	}
	&:hover{
		&:before{
			border: 3px solid #BBEE2A;
		}
	}

}

.checkbox-wrap,
.radio-wrap{
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}


.note{
	height: 9px;
	width: 9px;
	border-radius: 50%;
	text-align: center;
	background: #BBEE2A;
	display: inline-block;
	    line-height: 15px;
    font-size: 14px;
}

.table-note{
	font-size: 14px;
	    position: relative;
    top: -26px;
    padding-left: 23px;
	.note{
		top: 4px;
		margin-right: 5px;
	}
}

.bl-indent{
	padding-left: 312px;
	blockquote{
		margin-left: -135px;
	}
}

.img-wrap{
	margin-bottom: 32px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}
.signature{
	font-size: 14px;
	padding: 14px 0 0 0;
}

.paging{
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;

}

.paging__inner{
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
}

.paging__item{
	margin-right: 12px;
	text-decoration: none;
	border-radius: 50%;
	border: 2px solid #c6f14a;
	padding: 1px 10px;
	text-decoration: none!important;
	color: #222222;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		border: 2px solid transparent;
		transition:all 0.3s ease;
		opacity: 0;
	}
	&:hover{
		&:before{
			border: 2px solid #c6f14a;
			opacity: 1;
		}
		
	}
	&.paging__item--prev,
	&.paging__item--next,
	&.paging__item--more{
		border:0;
	}
	&.paging__item--prev,
	&.paging__item--next{
		padding: 0;
	}
	&.paging__item--prev{
		margin-right: 42px;
		position: relative;
		padding-left: 31px;
		&:after{
			content: '';
			display: inline-block;
			width: 12px;
			height: 21px;
			position: absolute;
			background: url(../img/svg/pagging_arrow_left.svg) no-repeat;
			background-size: contain;
			left: 0;
			top: 50%;
			margin-top: -9px;
			transition:background 0.3s ease;
		}
		&:before{
			display: none;
		}
		&:hover{
			color: #BBEE2A;
			&:after{
				background: url(../img/svg/pagging_arrow_left-h.svg) no-repeat;
				background-size: contain;
			}
		}
	}
	&.paging__item--next{
		margin-left: 24px;
		margin-right: 0;
		padding-right: 31px;
		position: relative;
		&:before{
			display: none;
		}
		&:after{
			content: '';
			display: inline-block;
			width: 12px;
			height: 21px;
			position: absolute;
			background: url(../img/svg/pagging_arrow_right.svg) no-repeat;
			background-size: contain;
			right: 0;
			top: 50%;
			margin-top: -9px;
			transition:background 0.3s ease;
		}
		&:hover{
			color: #BBEE2A;
			&:after{
				background: url(../img/svg/pagging_arrow_right-h.svg) no-repeat;
				background-size: contain;
			}
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&.active{
		// border: 1px solid #fff;
		background: #BBEE2A;
	}
	&.paging__item--more{
		&:before{
			display: none;
		}
	}
}

.video-wrap{
	margin-bottom: 15px;
    position: relative;
    img{
    	display: block;
    	max-width: 100%;
    	height: auto;
    }
    
}

.video-wrap__img{
	position: relative;
	&:after{
		content: '';
		background: rgba(0,0,0,0.6);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.video-wrap__link{
	display: inline-block;
	width: 152px;
	height: 152px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -76px;
	left: 50%;
	margin-left: -76px;
	background: rgba(0,0,0,0.7);
	transition:all 0.3s ease;
	z-index: 2;
	&:before{
		content: "";
		width: 63px;
		height: 71px;
		position: absolute;
		left: 50%;
		margin-left: -26px;
		top: 50%;
		margin-top: -35px;
		background: url(../img/svg/video_play_button.svg) no-repeat;
		transition:all 0.3s ease;
		// transform: rotate(17deg);
	}
	&:hover{
		transform:scale(1.1);
		border: 4px solid #BBEE2A;
	}
	&:active{
		border: 2px solid #6CC644;
		&:before{
			background: url(../img/svg/video_play_button-h.svg) no-repeat;
		}
	}

}


.map-default{
	width: 100%;
	height: 684px;
	position: relative;
	margin-bottom: 30px;
}

#map-default{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.accordeon{
	margin-bottom: 30px;
}

.accordeon__item{
	border-bottom: 1px solid #eae8e8;
	border-top: 1px solid #eae8e8;
	padding: 16px 0;
	position: relative;
	&.active{
		.accordeon__link{
			color: #6CC644;
			&:after{
				transform:rotate(0);
				background: url(../img/svg/faq_arrow-h.svg) center no-repeat;	
				background-size: cover;
			}
		}
	}
	&:first-child{
		border-top: 2px solid #eae8e8;
	}
	&:last-child{
		border-bottom: 2px solid #eae8e8;
	}
}

.accordeon__info{
	display: none;
    background: #F5F6F5;
    padding: 18px 45px 15px 22px;
    border-radius: 3px;
    margin-right: 107px;
    margin: 15px 107px 0 -22px;
    position: relative;
    &:before{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #F5F6F5 transparent;
		position: absolute;
		bottom: 100%;
		left: 20px;
    }
    p{
    	margin-bottom: 23px;
    	&:last-child{
    		margin-bottom: 0;
    	}
    }
}

.accordeon__link{
	display: block;
	padding-right: 50px;
	color: #222222;
	text-decoration: none!important;
	&:after{
		content: "";
		width: 21px;
		height: 12px;
		background: url(../img/svg/faq_arrow.svg) center no-repeat;	
		background-size: cover;
		transform:rotate(-180deg);
		// background: red;
		position: absolute;
		right: 2px;
    	bottom: 26px;
		transition:all 0.3s ease;
	}
	&:hover{
		color: #6CC644;
		&:after{
			background: url(../img/svg/faq_arrow-h.svg) center no-repeat;	
			background-size: cover;
		}
	}
}

.accordeon__close{
	position: absolute;
	right: 9px;
	top: 9px;
	background: url(../img/svg/faq_close.svg) center no-repeat;	
		background-size: cover;
	display: inline-block;
	width: 12px;
	height: 12px;
	transition:all 0.3s ease;
	&:hover{
		background: url(../img/svg/faq_close-h.svg) center no-repeat;
		background-size: cover;	
	}
	&:active{
		background: url(../img/svg/faq_close-a.svg) center no-repeat;
		background-size: cover;	
	}
}


.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}


.mfp-with-fade {
  
  // before-open state
  .mfp-content,
  .mfp-arrow,
  &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease-out; 
    -moz-transition: opacity 0.3s ease-out; 
    -o-transition: opacity 0.3s ease-out; 
    transition: opacity 0.3s ease-out;
  }
  // open state
  &.mfp-ready {
    .mfp-content,
    .mfp-arrow {
      opacity: 1;
    }
    &.mfp-bg {
      opacity: 0.8; // background opacity
    }
  }
  // closed state
  &.mfp-removing {
    .mfp-content,
    .mfp-arrow,
    &.mfp-bg {
      opacity: 0;
    }
  } 
}
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}


.download{
	display: block;
	color: #222222;
	text-decoration: none!important;
	margin-bottom: 25px;
	transition: all 0.3s ease;
	span{
		color: #ABACAC;
		// transition: all 0.3s ease;
	}
	&:hover{
		color: #6CC644;
		.download__icon img{
			opacity: 0.6;
		}
		.download__icon{
			&:before{
				opacity: 1;
			}
		}
	}
	&:active{
		color: #12824B;
		.download__icon{
			&:before{
				background: url(../img/svg/down-arrow-direction.svg) no-repeat;
				opacity: 1;
			}
		}
	}
}
.download__icon{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	// background: red;
	margin-right: 10px;
	margin-top: -3px;
	transition: all 0.3s ease;
	position: relative;
	text-align: center;
	img{
		max-width: 100%;
		height: auto;
		display: inline-block;
		max-height: 100%;
	}
	&:before{
		content: '';
		display: inline-block;
		width: 18px;
		height: 22px;
		position: absolute;
		top: 4px;
		left: 50%;
		margin-left: -9px;
		background: url(../img/svg/down-arrow-direction-a.svg) no-repeat;
		background-size: contain;
		opacity: 0;
		// transition: all 0.3s ease;
	}
}



.resp-tabs{
	margin-bottom: 30px;
}

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
   	border-bottom: 2px solid #e0dfde;
    .r-tabs-state-active{
    	background: #fff!important;
    	.r-tabs-anchor{
			pointer-events:none;
			color: #222222;
			// font-size: 24px;
			font-family: 'lato-bold';
			&:after{
				height: 4px;
				bottom: -1px;
				background: #12824B;
			}
    	}
    }
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #F5F6F5;
    transition:all 0.3s ease;
    margin-right: -2px;
    &:last-child{
    	margin-right: 0;
    }
    &:before{
    	display: none;
    }
}

.r-tabs .r-tabs-panel {
    padding: 25px 0 0;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
    
}


.r-tabs-anchor{
	display: block;
	color: #0B1F16;
	font-size: 20px;
	padding: 14px 13px;
	text-decoration: none!important;
	transition:all 0.3s ease;
	position: relative;
	margin-bottom: -2px;
	&:after{
		content: "";
		display: inline-block;
		width: 100%;
		height: 2px;
		background: transparent;
		position: absolute;
		left: 0;
		bottom: 0px;
		transition:all 0.3s ease;
	}
	&:hover{
		color: #12824B;
		&:after{
			background: #12824B;
		}
	}
}



.content-item{
	margin: 0 -15px 20px;
	display: flex;
}

.content-item__img,
.content-item__info{
	padding: 0 15px;
	width: 50%;
}

.content-item__img img{
	max-width: 100%;
	height: auto;
}

.content-item--img-left{
	.content-item__img{
		order:1;
	}
	.content-item__info{
		order:2;
	}
}

.content-item--img-right{
	.content-item__img{
		order:2;
	}
	.content-item__info{
		order:1;
	}
}

.hint{
	display: inline-block;
	position: relative;
}
.hint__link{
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: url(../img/svg/more_info_icon.svg) no-repeat;
	background-size: contain;
	position: relative;
    top: 6px;
    &:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		border: 4px solid transparent;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		opacity: 0;
		z-index: 2;
    }
    &:hover{
    	&:before{
    		border: 4px solid #c6f14a;
    		opacity: 1;
    	}
    }
}

.hint__info{
	border: 1px solid $default-color;
	position: absolute;
    font-size: 14px;
    background: #fff;
    padding: 10px 22px;
    width: auto;
    left: 100%;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 350px;
    max-width: 500px;
    z-index: 3;
    border-radius: 3px;
    display: none;
	span{
		margin-bottom: 5px;
		display: block;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&:before{
		content: "";
		width: 10px;
		height: 10px;
		background: #fff;
		border: 1px solid $default-color;
		transform: rotate(45deg);
		display: inline-block;
		border-top: 0;
		border-right: 0;
		position: absolute;
		top: 50%;
		margin-top: -2px;
		left: -7px;
		z-index: -1;
	}
}


.hint__close{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 14px;
	height: 14px;
	background: url(../img/svg/faq_close.svg) center no-repeat;
	background-size: cover;
	display: inline-block;
	transition: all 0.3s ease;
	&:hover{
		background: url(../img/svg/faq_close-h.svg) center no-repeat;
		background-size: cover;	
	}
	&:active{
		background: url(../img/svg/faq_close-a.svg) center no-repeat;
		background-size: cover;	
	}
}

.input-wrap{
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	&:last-child{
		margin-bottom: 0;
	}
}

.input-wrap__title{
	margin-bottom: 15px;
	font-size: 14px;
}

.submit-form{
	max-width: 697px;
	margin-bottom: 30px;
}


.jq-selectbox{
	position: relative;
	select{
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&.focused{
		.jq-selectbox__select{
			background: #F5F6F5;
			border: 2px solid #ECEBE9;
		}
    }
    &.opened{
    	.jq-selectbox__select{
			background: #ffffff;
		}
		.jq-selectbox__trigger-arrow{
			transform:rotate(-180deg);
		}
    }
}

.jq-selectbox__select {
    height: 62px;
    padding: 0 45px 0 24px;
    border-bottom-color: #ECEBE9;
    border-radius: 3px;
        border: 2px solid #ECEBE9;
    background: #F5F6F5;
    box-shadow: none;
    font: inherit;
    color: inherit;
    text-shadow: none;
    transition: background 0.3s ease;

}

// .jq-selectbox.focused .jq-selectbox__select {
//     border: 2px solid #ECEBE9;
//     background: transparent;
// }

.jq-selectbox__select:active,
.jq-selectbox__select:hover{
    background: #F5F6F5;
    box-shadow: none;
}

.jq-selectbox__trigger {
    border-left: 0;
}

.jq-selectbox__trigger-arrow {
    top: 28px;
    border-top: 5px solid #000;
    transition: transform 0.3s ease;
}

.jq-selectbox .placeholder {
    color: #222;
}
.jq-selectbox__select-text {
    height: 100%;
    line-height: 55px;
}

.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin-top: -2px;
    padding: 0;
    border: 2px solid #ECEBE9!important;
    border-radius: 3px;
    background: #fff;
    box-shadow: none;
    font: inherit;
    position: absolute;
    ul{
    	margin: 0;
    	border-left: 1px solid #fff;
    	border-right: 1px solid #fff;
    	li{
    		padding-left: 24px;
    		margin-bottom: 0;
    		&:before{
    			display: none;
    		}
    	}
    }
}


.jq-selectbox li.sel {
    background: #ffffff;
    color: #b6b5b5;
}

.jq-selectbox li:hover {
    background-color: #F5F6F5;
    color: #222;
}

.input-wrap--calendar{
	position: relative;
	&:after{
		content: '';
		display: inline-block;
		width: 33px;
		height: 35px;
		background: url(../img/svg/form_icon_calendar.svg) no-repeat;
		background-size: contain;
		position: absolute;
		right: 15px;
		bottom: calc(100% - 83px);
		pointer-events:none;
		transition:all 0.3s ease;
	}
	input[type="text"].input-calendar{
		padding-right: 45px;
		cursor: pointer;
	}
	&:hover{
		&:after{
			background: url(../img/svg/form_icon_calendar-h.svg) no-repeat;
			background-size: contain;
		}
	}
}

.input-wrap--error{
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea{
		border: 1px solid #B02A11;
	}
}

.error-message{
	position: relative;
	font-size: 14px;
	padding-left: 23px;
	margin-top: 9px;
	&:before{
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		background: #B02A11 url(../img/svg/form_error.svg) center no-repeat;
		border-radius: 50%;
		left: 0;
		top: 2px;
		position: absolute;
	}
}

.layout--full{
	background:  #0A1E15;
	color: #fff;
	.page-top__inner .container-fluid{
		border-bottom: 0;
	}
	.page-top:before {
	    background: rgba(11, 31, 22, 0.4);
	    box-shadow: inset 0 -245px 190px -50px rgba(10, 30, 21, 1);
	}
}

.page-top-list{
	padding-bottom: 4px;
}

.page-top-list__info{
	font-size: 20px;
	margin-bottom: 40px;
	p{
		margin: 0;
		margin-bottom: 20px;
	}
}

.more-btn{
	display: inline-block;
	color: #fff;
	text-decoration: none!important;
	position: relative;
	padding: 6px 27px 6px 46px;
	border-radius: 20px;
	transition:all 0.3s ease;
	&:before{
		content: "";
		border: 1px solid #BBEE2A;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		transition:all 0.3s ease;
	}
	&:hover{
		&:after{
			background: url(../img/svg/add-h.svg) no-repeat;
		}
		&:before{
			border: 1px solid  #6CC644;
		}
		background: #6CC644; 
	}
	&:after{
		content: "";
		display: inline-block;
		width: 18px;
		height: 18px;
		background: url(../img/svg/add.svg) no-repeat;
		transition:all 0.3s ease;
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 16px;
	}
	&:active{
		background: #7D9E36; 
		color: #ffffff;
		// &:after{
		// 	background: url(../img/svg/add-hh.svg) no-repeat;
		// }
		&:before{
			border: 1px solid #7D9E36;
		}
	}
}


.page-map{
	width: 100%;
	height: 787px;
	position: relative;
}

#page-map{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

.dnone{
	display: none;
}


.map-info{
	font-weight: 100;
	margin-bottom: 30px;
}
.map-coords{
	font-size: 24px;
	margin-bottom: 30px;
}

.map-phone{
	font-size: 24px;
	margin-bottom: 50px;
}

.si-float-wrapper {
  position: absolute;
  width: 100%; }
  .si-float-wrapper,
  .si-float-wrapper * {
    box-sizing: border-box; }

[class*='si-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #222;
  text-align: center;
  cursor: default; }

.si-wrapper-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -40px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%); }

.si-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.si-wrapper-left {
  margin-top: -20px;
  margin-left: -11px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%); }

.si-wrapper-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: -20px;
  margin-left: 11px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

[class*='si-shadow-wrapper'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.29804;
  z-index: 1; }

.si-shadow-wrapper-top,
.si-shadow-wrapper-bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.si-shadow-pointer-bottom,
.si-shadow-pointer-right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.si-shadow-frame {
  // box-shadow: 0 1px 3px 0 #000;
}

[class*='si-shadow-pointer'] {
  position: relative;
  width: 15px;
  height: 15px;
  margin: auto; }

[class*='si-shadow-inner-pointer'] {
  position: absolute;
  width: 141%;
  height: 141%;
  // box-shadow: -0.70711px 0.70711px 3px 0 #000;
}

.si-shadow-inner-pointer-top {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }

.si-shadow-inner-pointer-bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg); }

.si-shadow-inner-pointer-left {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }

.si-shadow-inner-pointer-right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg); }

.si-frame {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 3px;
  // overflow: hidden;
  overflow: visible;
  z-index: 2; }

.si-content-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 195px 50px 50px;
  background: #fff url(../img/svg/leaves_white_1.svg) left top repeat;
}
  .si-has-border .si-content-wrapper {
    border: 6px solid #E7E5E3; }

.si-content {
  // overflow: auto;
  overflow: visible;
}

.si-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: Arial, Baskerville, monospace;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .si-close-button:hover, .si-close-button:focus {
    opacity: 0.7; }

[class*='si-pointer-border'] {
  position: absolute;
  border: 15px solid transparent;
  z-index: 3; }

[class*='si-pointer-bg'] {
  position: relative;
  border: 15px solid transparent;
  z-index: 4; }
  .si-has-border [class*='si-pointer-bg'] {
    border-width: 15px; }

.si-pointer-border-top,
.si-pointer-border-bottom {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.si-pointer-border-left,
.si-pointer-border-right {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.si-pointer-top {
  border-bottom: 0; }

.si-pointer-border-top {
  bottom: 0;
  border-top-color: #E7E5E3; }

.si-pointer-bg-top {
  border-top-color: #fff; }
  .si-has-border .si-pointer-bg-top {
    top: -6px!important;
    margin-bottom: 0px; }

.si-pointer-bottom {
  border-top: 0; }

.si-pointer-border-bottom {
  top: 0;
  border-bottom-color: #bbb; }

.si-pointer-bg-bottom {
  border-bottom-color: #fff; }
  .si-has-border .si-pointer-bg-bottom {
    bottom: -1px;
    margin-top: 0px; }

.si-pointer-left {
  border-right: 0; }

.si-pointer-border-left {
  right: 0;
  border-left-color: #bbb; }

.si-pointer-bg-left {
  border-left-color: #fff; }
  .si-has-border .si-pointer-bg-left {
    left: -1px;
    margin-right: 0px; }

.si-pointer-right {
  border-left: 0; }

.si-pointer-border-right {
  left: 0;
  border-right-color: #bbb; }

.si-pointer-bg-right {
  border-right-color: #fff; }
  .si-has-border .si-pointer-bg-right {
    right: -1px;
    margin-left: 0px; }

.map-logo{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -21px;
    left: 50%;
    margin-left: -90px;
    background: url(../img/svg/info-label.svg) no-repeat;
    background-size: contain;
}

.services{
	h4{
		margin-bottom: 43px;
	}
}

.services-slider__item{
	padding: 0 17px 20px;
	display: block;
	text-decoration: none!important;
	
	&:hover{
		.services-slider__title{
			color: #6CC644;
			&:before{
				transform: scaleX(1);
				visibility: visible;
			}
			
		}
	}
	&:active{
		.services-slider__title{
			&:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: -8px;
				left: 0;
				background-color: #BBEE2A;
				visibility: visible;
				transform: scaleX(1);
				transition: all 0.3s ease-in-out 0s;
			}
		}
	}
}

.services-slider__img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 217px;
	border-bottom: 1px solid #BBEE2A;
}

.services-slider__title{
	font-size: 24px;
	padding-top: 14px;
	color: #fff;
	transition: color 0.3s ease;
	position: relative;
	display: inline-block;
	&:before{
		content: "";
		position: absolute;
		width: 66%;
		height: 2px;
		bottom: -8px;
		left: 19%;
		background-color: #BBEE2A;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
}


.services-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-list{
		margin: 0 -17px;
	}
	.slick-dots{
		margin-bottom: 0;
		// margin-top: 53px;
		text-align: center;
		list-style-type: none;
		li{
			margin: 0;
			margin-right: 20px;
			padding: 0;
			list-style-type: none;
			display: inline-block;
			border: 2px solid transparent;
			border-radius: 50%;
			line-height: 1;
			width: 17px;
			height: 17px;
			&:before{
				display: none;
			}
			button{
				display: inline-block;
				padding: 0;
				background: transparent;
				border: 2px solid #fff;
				text-indent: -9999em;
				border-radius: 50%;
				width: 13px;
				height: 13px;
				transition: background 0.3s ease;

			}
			&:last-child{
				margin-right: 0;
			}
			&.slick-active,
			&:hover{
				border: 2px solid #fff;	
				button{
					background: #fff;
					border: 2px solid #fff;	
				}
				 
			}
		}
	}
	.slick-arrow{
		display: inline-block;
		background: transparent;
		text-indent: -9999em;
		padding: 0;
		position: absolute;
		top: 85px;
		width: 56px;
		height: 56px;
		
		border: 0;
		transition:opacity 0.3s ease;
		z-index: 2;
		&:hover{
			
		}
	}

	.slick-prev{	
		left: 15px;
		&:before{
			content: "";
			display: inline-block;
			width: 56px;
			height: 56px;
			background: #fff;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			z-index: 1;
			transition:all 0.3s ease;
		}
		&:after{
			content: "";
			display: inline-block;
			width: 19px;
			height: 32px;
			background: url(../img/svg/pagging_arrow_left.svg) no-repeat;
    		background-size: contain;
    		transition:background 0.3s ease;
			position: absolute;
			left: 18px;
			top: 11px;
			z-index: 2;
		}
		&:hover{
			&:before{
				background: #BBEE2A;
				transform: scale(1.1);
			}
			&:after{
				background: url(../img/svg/pagging_arrow_left-hh.svg) no-repeat;
    			background-size: contain;
			}
		}
		&:active{
			&:before{
				background: #6CC644;
			}
			&:after{
				background: url(../img/svg/pagging_arrow_left-a.svg) no-repeat;
    			background-size: contain;
			}
		}
	}
	.slick-next{
		right: 15px;
		&:before{
			content: "";
			display: inline-block;
			width: 56px;
			height: 56px;
			background: #fff;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			z-index: 1;
			transition:all 0.3s ease;
		}
		&:after{
			content: "";
			display: inline-block;
			width: 19px;
			height: 32px;
			background: url(../img/svg/pagging_arrow_right.svg) no-repeat;
    			background-size: contain;
    			transition:background 0.3s ease;
			position: absolute;
			left: 21px;
			top: 11px;
			z-index: 2;
		}
		&:hover{
			&:before{
				background: #BBEE2A;
				transform: scale(1.1);
			}
			&:after{
				background: url(../img/svg/pagging_arrow_right-hh.svg) no-repeat;
    			background-size: contain;
			}
		}
		&:active{
			&:before{
				background: #6CC644;
			}
			&:after{
				background: url(../img/svg/pagging_arrow_right-a.svg) no-repeat;
    			background-size: contain;
			}
		}
	}
	.slick-disabled{
		opacity: 0.5;
		pointer-events:none;
	}
}

.page-top-list__wrap{
	display: flex;
	align-items:center;
	margin-bottom: 56px;
	margin-top: 5px;
}

.page-top-list__item{
	padding-right: 2px;
	width: 14.28571%;
	&:last-child{
		padding-right: 0;
	}
}

.page-top-list__link{
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 128px;
}

.page-top-list__link--all{
	background: #BBEE2A;
	    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
	a{
		text-decoration: none!important;
		color: #0B1F16;
		font-size: 14px;
		font-weight: 100;
		display: inline-block;
	    position: relative;
		span{
			display: block;
			width: 100%;
			font-size: 36px;
			line-height: 1.1;
			font-weight: 100;
			text-align: center;
			position: relative;
			z-index: 2;
		}
		i{
			font-style: normal;
			position: relative;
			z-index: 2;
		}
		&:before{
			content: "";
		    display: block;
		    width: 150%;
		    height: 150%;
		    background: #6CC644;
		    border-radius: 50%;
		    position: absolute;
		    left: -25%;
		    top: -25%;
		    transition:all 0.3s ease;
		    opacity: 0;
			//z-index: -1;
			transform: scale(0.3);
		}
		&:hover{
			&:before{
				opacity: 1;
				transform: scale(1);
			}
		}
		// &:active{
		// 	&:before{
		// 		transform: scale(5);
		// 	}
		// }
	}
}


.mfp-bottom-bar{
	display: none;
}


.service-descr{
	margin-bottom: 77px;
	position: relative;
}

.service-descr__img{
	height: 734px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.service-descr__img--blurred{
	position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: 392px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 105% top;
    filter: blur(10px);
}

.service-descr__info{
	position: absolute;
	right: 8px;
	top: 8px;
	bottom: 8px;
	width: 392px;
	padding: 37px 40px 40px 40px;
	background: rgba(255,255,255,0.9) url(../img/svg/leaves_white_3.svg) 25px 0 no-repeat;
	text-align: center;
}


.service-descr__item{
	margin-bottom: 44px;
	color: #0B1F16;
}

.service-descr__title{
	font-size: 24px;
	    margin-bottom: 3px;
}

.service-descr__count{
	    font-size: 80px;
    font-family: 'lato-light';
    line-height: 65px;
}

.service-descr__txt{
	font-family: 'lato-light';
	font-size: 20px;
}

.service-descr__time{
	font-size: 36px;
	font-family: 'lato-light';
	line-height: 1;
}

.service-descr__phone{
	font-size: 36px;
	font-family: 'lato-light';
}

.gallery{
	border-top: 3px solid #BBEE2A;
	margin-bottom: 30px;
	margin-top: -35px;
	.paging{
		padding-top: 30px;
	}
	.paging__item{
		color: #fff;
		&.active{
			color: #0B1F16;
		}
	}
	.paging__item.paging__item--next:after {
	    background: url(../img/svg/pagging_arrow_right-w.svg) no-repeat;
	    background-size: contain;
	}
	.paging__item.paging__item--next:hover:after {
	    background: url(../img/svg/pagging_arrow_right-h.svg) no-repeat;
	    background-size: contain;
	}
	.paging__item.paging__item--prev:after {
	    background: url(../img/svg/pagging_arrow_left-w.svg) no-repeat;
	    background-size: contain;
	}
	.paging__item.paging__item--prev:hover:after {
	    background: url(../img/svg/pagging_arrow_left-h.svg) no-repeat;
	    background-size: contain;
	}
}

.gallery__item{
	margin-bottom: 20px;
	position: relative;
	display: block;
	text-decoration: none!important;
	color: #222222;
	overflow: hidden;
}

.gallery__item--list{
	.gallery__img--blured{
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-size: 1260px 600px;
	}
	&.right-sqheme{
		.gallery__img--blured{
			background-position: 96% 100%;
		}
	}
	&.left-sqheme{
		.gallery__img--blured{
			background-position: 0 76%;
		}
	}
	.apartment-info__inner{
		z-index: 3;
    	position: relative;
    	background: rgba(255, 255, 255, 0.7) url(../img/svg/leaves_white_2.svg) left top no-repeat;
	}
	.apartment-info{
		padding: 0;
	}
}

a.gallery__item{
	color: #222222;
	&:hover{
		color: #12824B;
		.gallery__open{
			opacity: 1;
		}
	}

}

.gallery__img{
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.gallery__img--blured{
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 528px;
    background-repeat: no-repeat;
    background-size: 1260px 100%;
    background-position: 0 top;
    filter: blur(10px);
}

.gallery__info{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 528px;
	padding: 10px;
	background: rgba(255,255,255,0.8) url(../img/svg/leaves_white_3.svg) 20px 20px no-repeat;
}

.gallery__inner{
	border: 1px solid #FFFFFF;
	height: 100%;
	padding: 25px;
	position: relative;
}

.gallery__title{
	font-size: 48px;
	line-height: 1.1;
	font-family: 'lato-bold';
	margin-bottom: 30px;
}


.gallery__open{
	color: #0B1F16;
	font-size: 20px;
	position: relative;
	padding-right: 50px;
	display: inline-block;
	opacity: 0;
	transition: opacity 0.3s ease;
	&:after{
		content: "";
		display: inline-block;
		width: 39px;
		height: 7px;
		background: url(../img/svg/arrow.svg) no-repeat;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -2px; 
	}
}

.gallery-view{
	position: absolute;
	right: 30px;
	bottom: 30px;
	display: flex;
	    flex-wrap: wrap;
    align-items: flex-start;
}

.gallery-view__item{
	margin-right: 30px;
	font-size: 14px;
	color: #0B1F16;
	display: flex;
	align-items: flex-start;
	&:last-child{
		margin-right: 0;
		
	}
}

.gallery-view__count{
	font-size: 34px;
	width: 100%;
	// display: flex;
	// align-items:center;
}

.gallery-view__img{
	padding-top: 12px;
    margin-right: 2px;
    width: 40px;
    height: 40px;
    img{
    	max-width: 100%;
    	height: auto;
    	max-height: 100%;
    }
}

.apartment-info{
	position: absolute;
	bottom: 8px;
	width: 528px;
	padding: 10px;
	background: rgba(255,255,255,0.9) url(../img/svg/leaves_white_2.svg) left top no-repeat;
	// &:before {
 //        content: "";
 //        position: absolute;
 //        height: 100%; 
 //        width: 100%; 
 //        filter: blur(5px);
 //    }
}

.apartment-info__inner{
	padding: 32px;
}

.right-sqheme .apartment-info{
	right: 8px;
}

.left-sqheme .apartment-info{
	left: 8px;
}

.apartment-info__title{
	font-size: 48px;
	line-height: 1.1;
	font-family: 'lato-bold';
	margin-bottom: 30px;
}


.apartment-list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 30px;
}

.apartment-list__item{
	margin-right: 30px;
	font-size: 14px;
	max-width: 90px;
	span{
		font-size: 36px;
		display: block;
		font-family: 'lato-light';
	}
	&:last-child{
		margin-right: 0;
	}
}


.more{
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	height: 100%;
	
	color: #000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity 0.3s linear, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    &.active{
	    opacity: 1;
	    visibility: visible;
	    transform: translateY(0);
	    transition: opacity 0.3s linear, transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

	.more-close:after{
		margin-left: 0;
	}

	h1{
		margin: 0;
		margin-bottom: 30px;
		font-weight: normal;
		font-size: 64px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h2{
		margin: 0;
		margin-bottom: 30px;
		font-weight: normal;
		font-size: 56px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h3{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 48px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h4{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 36px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h5{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 30px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
	h6{
	    margin: 0;
	    margin-bottom: 30px;
	    font-weight: normal;
	    font-size: 24px;
		font-family: 'lato-bold';
		line-height: 1.1;
	}
}

.more__inner{
	max-height: 100vh;
	overflow: auto;
	padding: 40px 0 75px;
}

.more-close{
	color: #fff;
    background: #000;
    border-radius: 20px;
    width: auto;
    height: auto;
    font-family: inherit;
    font-size: 34px;
    top: auto;
    bottom: 25px;
    opacity: 1;
        left: 50%;
    transform: translateX(-50%);
        line-height: 1;
        padding: 0px 12px 3px 12px;
    display: inline-block;
    transition: background 0.3s ease;
    position: absolute;
    text-decoration: none!important;
    &:after{
		content: 'Закрыть';
		font-size: 20px;
		color: #fff;
		display: inline-block;
		vertical-align: middle;
		margin-top: -10px;
		margin-left: 10px;
    }
    &:before{
    	content: "×";
		color: #fff;
		font-family: inherit;
		font-size: 34px;
		display: inline-block;
		margin-right: 5px;
		font-family: 'lato-light';
    }
    &:hover{
    	background:  #BBEE2A;
    	color: #0B1F16;
    	&:before,
    	&:after{
    		color: #0B1F16;
    	}
    }
    &:active{
    	background: #6CC644;
    	color: #2C6D4D;
    	&:before,
    	&:after{
    		color: #2C6D4D;
    	}
    }
}


.layout--index{
	background: #0A1E15;
    color: #fff;
	.page-top__title{
		padding-left: 515px;
		h1{
			font-size: 96px;
			line-height: 0.85;
			margin-bottom: 55px;
		}
	}
	.page-top__inner {
	    padding-top: 206px;
	}
	.page-top__inner .container-fluid{
		border-bottom: 0;
	}
	.page-top:before {
		background: rgba(11, 31, 22, 0.4);
		box-shadow: inset 0 -245px 190px -50px #0a1e15;
	}
	.page-content{
		background: url(../img/svg/leaves-bg.svg) no-repeat;
		// ,url(../img/svg/points.svg) center no-repeat;
		background-size: cover;
	}
}

.page-top__more{
	font-size: 30px;
	margin-bottom: 138px;
	line-height: 1.2;
}

.page-top-time{
	background:#fff url(../img/svg/leaves_white_1.svg) left top repeat;
	padding: 5px;
}

.page-top-time__inner{
	border: 1px solid #E7E5E3;
	padding: 5px 20px;
	display: flex;
	align-items:center;
	justify-content:space-between;
	color: #000;
	.btn-submit{
		padding: 20px 74px 20px 33px;
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 39px;
			height: 7px;
			background: url(../img/svg/arrow-g.svg) no-repeat;
			position: absolute;
			right: 8px;
			top: 50%;
			margin-top: -2px;
		}
		&:active{
			&:after{
				background: url(../img/svg/arrow-g-h.svg) no-repeat;
			}
		}
	}

}

.page-top-time__list{
	    padding: 6px 32px 6px 40px;
	position: relative;
	display: flex;
	align-items:center;
	justify-content:center;
	&:before{
		content: '';
	    display: inline-block;
	    width: 33px;
	    height: 35px;
	    background: url(../img/svg/form_icon_calendar.svg) no-repeat;
	    background-size: contain;
	    position: absolute;
	   	left: 0;
	    top: 50%;
	    margin-top: -12px;
	    pointer-events: none;
	    -webkit-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
}

.page-top-time__item{
	margin-right: 70px;
	text-align: center;
	position: relative;
	&:after{
		content: "";
		display: inline-block;
		width: 30px;
		height: 2px;
		background:#000;
		position: absolute; 
		right: -50px;
		top: 50%;
		margin-top: -1px;
	}
	&:last-child{
		margin-right: 0;
		&:after{
			display: none;
		}
	}
}


.page-top-time__top{
	font-size: 14px;
	margin-bottom: 2px;
}

.page-top-time__num{
	font-size: 48px;
	line-height: 1;
	font-family: 'lato-bold';
}

.page-top-time__month{
	font-size: 18px;
}


.complex{
    padding-top: 85px;
    padding-bottom: 40px;
	color: #fff;
}


.complex__top{
	max-width: 600px;
	margin: 0 auto 30px;
	text-align: center;
	h2{
		font-size: 82px;
	}
}


.complex__title{
	margin-bottom: 68px;

}

.complex__msg{
	font-family: 'lato-light';
}


.complex__list{
	display: flex;
	align-items:center;
	justify-content:center;
	margin-bottom: 40px;
}

.complex__item{
	padding: 106px 83px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
	align-items:flex-end;
	&:last-child{
		border-right: 0;
	}
	span{
		display: block;
		font-size: 20px;
	}
}

.complex__info{
	padding-left: 10px;
	span{
		font-family: 'lato-regular';
		&:last-child{
			font-family: 'lato-light';
			opacity: 0.6
		}
	}
}

.complex__count{
	font-size: 80px;
	line-height: 70px;
	font-family: 'lato-light';
}

.order-wrap{
	display: flex;
	align-items:center;
	justify-content:space-between;
}


.order__info{
	padding-top: 145px;
}
.order__title{
	position: relative;
	top: -145px;
}

.order__txt{
	font-family: 'lato-light';
	position: relative;
	top: -145px;
	max-width: 300px;
}


.table-wrap {
    overflow-x: auto;
    width: 100%;
    margin-bottom: 40px;
    table{
    	margin-bottom: 0;
    	min-width: 650px;
    }
}

.table-wrap::-webkit-scrollbar {
    height: 8px;
}
 
.table-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #6CC644;
}

.item-image-wrap{
	display: flex;
	flex-wrap:wrap;
	margin-right: -33px;
	margin-bottom: 30px;
	.signature{
		margin-top: -30px;
	}
	.item-image{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.item-image{
	padding-right: 33px;
	margin-bottom: 30px;
	&:last-child{
		padding-right: 0;
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	.signature{
		margin-top: 0;
	}
}

.lamp{
	padding: 40px 0 140px;
}

.lamp-wrap{
	display: flex;
    justify-content: space-between;
    align-items:center;
}

.lamp__info{
	max-width: 400px;
	h3{
		margin-bottom: 45px;
	}
	.btn{
		font-size: 22px;
		padding: 3px 25px 7px 25px;
		border-radius: 25px;
	}
}

.lamp__txt{
    font-family: 'lato-light';
    margin-bottom: 45px;
}

.lamp__img{
	position: relative;
	img{
		max-width: 100%;
		height: auto;
	}
}

.lamp-inner{
	position: absolute;
	left: 0;
	bottom: 0;
	img{
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}

.daterangepicker{
	z-index: 1;
}

.daterangepicker .ranges li.active{
	background-color: #6CC644;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #6CC644;
    color: #000;
}

.daterangepicker td.in-range {
    background-color: #ebfbe4;
}

.daterangepicker td.in-range.end-date{
	background-color: #6CC644;
}

.contacts-item{
	margin-bottom: 30px;
}

.contacts-sqheme{
	margin-bottom: 30px;
	display: block;
}

.contacts-item__in{
	margin-bottom: 10px;
}

.person{
	padding: 8px 0;
	border-top: 1px solid rgba(18, 130, 75, 0.3);
	border-bottom: 1px solid rgba(18, 130, 75, 0.3);
}

.person__item{
	border-right: 1px solid rgba(18, 130, 75, 0.3);
	padding: 20px 15px;
	margin-right: -1px;
	&:last-child{
		border-right: 0;
	}
	.contacts-item__in{
		font-size: 16px;
	}
}


/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}

@import "components/popup";

@import "components/footer";

@import "components/media";

