.page-footer{
	background: #0b1f16 url(../img/svg/footer_leaves.svg) left top no-repeat;
	padding: 60px 0 33px;
	color: #fff;
}

.develop{
	display: flex;
	justify-content: center;
	font-size: 14px;
	a{
		width: 101px;
		height: 30px;
		background: url(../img/svg/footer_logo_97.svg) no-repeat;
		background-size: contain;
		display: inline-block;
		position: relative;
		margin-left: 2px;
		margin-top: -7px;
		transition:all 0.3s ease;
		// &:before{
		// 	content: "";
		// 	display: inline-block;
		// 	width: 91px;
		// 	height: 30px;
		// 	border: 2px solid #BBEE2A;
		// 	position: absolute;
		// 	left: -8px;
		// 	top: -5px;
		// 	transform: skewX(-10deg);
		// }
		&:hover{
			background: url(../img/svg/footer_logo_97-h.svg) no-repeat;
			background-size: contain;
		}
	}
}


.page-footer-info{
	font-size: 14px;
	display: flex;
	justify-content:space-between;
	margin-bottom: 39px;
}


.page-footer-info__item{
	&:first-child{
		text-align: left;
	}
	&:nth-child(2){
		text-align: center;
	}
	&:last-child{
		text-align: right;
	}
}

.coords{
	display: block;
	color: $default-color;
}


.page-footer-top{
	font-size: 14px;
	display: flex;
	justify-content:space-between;
	margin-bottom: 64px;
	position: relative;
	min-height: 140px;
}

.page-footer-top__item{
	display: flex;
	align-items: center;
}

.socials{
	display: flex;
	align-items:center;
	    padding-left: 12px;
    margin-top: -8px;
}

.socials__item{
	width: 20px;
	height: 20px;
	background: red;
	margin-right: 44px;
	position: relative;

	&:after{
		content: "";
		display: inline-block;
		height: 1px;
		width: 24px;
		opacity: 0.14;
		background-color: #FFFFFF;
		position: absolute;
		left: calc(100% + 8px);
    top: 50%;
	}
	&:last-child{
		margin-right: 0;
		&:after{
			display: none;
		}
	}
	&.socials__item--fb{
		background: url(../img/svg/footer_cosial_facebook-logo.svg) no-repeat;
		background-size: contain;
		width: 11px;
		height: 20px;
		transition:background 0.2s ease;
		&:hover{
			background: url(../img/svg/footer_cosial_facebook-logo-h.svg) no-repeat;
			background-size: contain;
		}
	}
	&.socials__item--inst{
		background: url(../img/svg/footer_cosial_instagram.svg) no-repeat;
		background-size: contain;
		width: 20px;
		height: 20px;
		transition:background 0.2s ease;
		&:hover{
			background: url(../img/svg/footer_cosial_instagram-h.svg) no-repeat;
			background-size: contain;
		}
	}
	&.socials__item--vk{
		background: url(../img/svg/footer_cosial_vk_logo.svg) no-repeat;
		background-size: contain;
		width: 23px;
		height: 13px;
		transition:background 0.2s ease;
		&:hover{
			background: url(../img/svg/footer_cosial_vk_logo-h.svg) no-repeat;
			background-size: contain;
		}
	}
}

.page-footer__mail{
    margin-left: 87px;
    color: #fff;
    text-decoration: none!important;
    font-size: 18px;
    margin-top: -12px;
    &:hover{
    	color: #BBEE2A;
    }
}

.page-footer-phone{
	font-size: 22px;
	font-family: 'lato-bold';
	color: #fff;
	&:hover{
		color: #BBEE2A;
	}
	span{
		display: inline-block;
		position: relative;
		top: -3px;
	}
}

.page-footer-phone__btn{
	font-size: 22px;
	font-family: 'lato-bold';
	background: #6CC644;
	border-radius: 19px;
	    padding: 1px 19px 3px 19px;
	margin-left: 25px;
	color: #fff;
	text-decoration: none!important;
	border: 2px solid transparent;
	transition:all 0.3s ease;
	&:hover{
		border: 2px solid #BBEE2A;
	}
	&:active{
		background: #BBEE2A;
		border: 2px solid #BBEE2A;
		color: #2C6D4D;
		
	}
}

.page-footer-top__icon{
    display: inline-block;
    width: 140px;
    height: 144px;
    background: url(../img/svg/footer_logo.svg) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: -6px;
}